In [1]:
import pandas as pd
from utilities import sort_suppliers_by_service_area, total_expenses_per_supplier

pd.options.display.max_seq_items = 2000

df = pd.read_csv('resources/sanitised-data.csv')
df.reset_index()

Counter({'user - 9': 3, 'user - 1': 2, 'user - 8': 1, 'user - 5': 1})

,index,Body Name,Service Area,Expense Type,Invoice Payment Date,Transaction Number,Net Amount,Supplier Name
0,0,TfGM,Transport,Planning Support Services,03/04/2023,5100184107,"8,869.30",AECOM LTD
1,1,TfGM,Transport,Planning Support Services,03/04/2023,5100185084,"1,000.00",AECOM LTD
2,2,TfGM,Transport,Driver Intervention Course Delivery Costs,03/04/2023,1900087630,"2,011.97",AKHTAR HUSSAIN
3,3,TfGM,Transport,Driver Intervention Course Delivery Costs,03/04/2023,1900087629,"1,261.10",ALAN HOLT
4,4,TfGM,Transport,Capital Costs - Design Support Services,03/04/2023,5100185013,"2,255.00",AMEY MAP SERVICES LTD
...,...,...,...,...,...,...,...,...
4378,4378,TfGM,Transport,Capital Costs - Programme and Project Manageme...,30/06/2023,5100189406,"2,586.20",REAL STAFFING GROUP
4379,4379,TfGM,Transport,Smart Ticketing,30/06/2023,5100189409,"2,500.00",REAL STAFFING GROUP
4380,4380,TfGM,Transport,Capital Costs - Programme and Project Manageme...,30/06/2023,5100189410,"2,941.20",REAL STAFFING GROUP
4381,4381,TfGM,Transport,Smart Ticketing,30/06/2023,5100189411,"2,068.96",REAL STAFFING GROUP
4382,4382,TfGM,Corporate Services,IS Projects,30/06/2023,5100189413,"3,411.75",REAL STAFFING GROUP

So, let's start on my journey of data science. I was interested in exactly who money was going to over this quarter and what service they were contracted by. I created a function in my utilities to sort

In [2]:
suppliers = sort_suppliers_by_service_area(df)

expenses_per_supplier = {"Supplier": [], "Service": [], "Expense": []}
for service in suppliers.keys():
    for supplier in suppliers[service]:
        expenses_per_supplier["Supplier"].append(supplier)
        expenses_per_supplier["Service"].append(service)
        expenses_per_supplier["Expense"].append(total_expenses_per_supplier(df, supplier))

suppliers_and_expenses_df = pd.DataFrame.from_dict(expenses_per_supplier)
print(suppliers_and_expenses_df)

                                Supplier             Service    Expense
0                              AECOM LTD           Transport  324579.08
1                         AKHTAR HUSSAIN           Transport    5888.72
2                              ALAN HOLT           Transport    3793.10
3                  AMEY MAP SERVICES LTD           Transport  619137.65
4                       ANDREW MCPHERSON           Transport    3676.53
..                                   ...                 ...        ...
453                     SATISNET LIMITED  Corporate Services    2779.80
454                      USECURE LIMITED  Corporate Services     787.50
455                   COALESCENT LIMITED  Corporate Services    9880.00
456                             Barclays  Corporate Services    1998.08
457  FRONTLINE CONSULTANCY & BUS SERVS L  Corporate Services   59999.99

[458 rows x 3 columns]

And in order of most expensive to least. This data has some entries that were under £500, which I can segregate out to another data frame.

In [3]:
print(suppliers_and_expenses_df.sort_values(by="Expense", ascending=False))

                                Supplier    Service      Expense
43             KEOLIS AMEY METROLINK LTD  Transport  33783820.04
197  WILLMOTT DIXON CONSTRUCTION LIMITED  Transport  18627881.39
66               STAGECOACH SERVICES LTD  Transport  15183586.77
231                 ALEXANDER DENNIS LTD  Transport  11358750.00
130                    GO NORTH WEST LTD  Transport   7748203.10
..                                   ...        ...          ...
347         CLEANING MACHINE SUPPORT LTD  Transport       490.00
302       LOW CARBON VEHICLE PARTNERSHIP  Transport       468.00
361                       STORMSAVER LTD  Transport       452.28
349                        LANGUAGE LINE  Transport       449.25
251         SJC BUSINESS CONSULTANCY LTD  Transport       420.21

[458 rows x 3 columns]